@font-face {
    font-family: 'OB';
    src: url(../../public/fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'OE';
    src: url(../../public/fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'OR';
    src: url(../../public/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'PB';
    src: url(../../public/fonts/Play-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'PR';
    src: url(../../public/fonts/Play-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'RB';
    src: url(../../public/fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'RR';
    src: url(../../public/fonts/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'AB';
    src: url(../../public/fonts/Arial-BoldMT.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'AR';
    src: url(../../public/fonts/ArialMT.ttf);
    font-weight: 400;
}