@import '../styles/fonts.scss';

* {
    box-sizing: border-box;
    z-index: 100;
}

// переменные
// var(--color-blue); - пример для использования

:root {
    --main-font: 'OR', sans-serif; // шрифт по умолчанию
    --extra-font: 'OE';
    --bold-font: 'OB';
    --regular-font: 'OR';
    --play-regular: 'PR';
    --play-bold: 'PB';
    --raleway-bold: 'RB';
    --raleway-reg: 'RR';
    --main-color: linear-gradient(79.62deg, #19A3DC 29.11%, #256EDC 88.06%); // цвет по умолчанию
    --grey-dark: #2C393E;
    --white-color: #ffffff;
    --blue-color: #256EDC;
    --black-color: #00233C;
    --question-color: #1F2937;
    --medication-color: #F9FAFB;
    --border-color: #9CA3AF;
    --green-color: #14B83A;
    --error-color: #D10F22;
    --button-color: linear-gradient(180deg, #F2A45C 0%, #E86B2E 100%);
    --number-color: #F2B940;
    --main-font-size: 16px; // размер шрифта по умолчанию


    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.hidden {
    display: none;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.plus_button {
    display: none;
    background: var(--color-orange);
    color: var(--color-white);
    font-weight: bold;
    font-size: 13px;
    padding: 12px 20px;
    border-radius: 24px;
    //max-width: 137px;
    margin: 0 auto 0;
}

html {
    background-color: var(--color-white);
}

.wrapper {
    overflow-x: hidden;
    background: var(--color-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: var(--main-font), sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--main-font-size);
    color: var(--main-color);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.mob-scroll {
    overflow-x: scroll;
}

.section {
    max-width: 100%;
    width: 100%;
    position: relative;

    &__content {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

/* ======= SECTION №1 - START ======== */
.banner {
    background: var(--main-color);

    &__block {
        padding: 32px 0 150px 0;

        &_link {
            margin-bottom: 78px;

            & a {
                width: 219px;
                height: 40px;
                margin: 32px 0 78px 0;
            }
        }

        &_item {
            display: flex;

            &_info {
                width: var(--col-7);
                margin-top: 50px;
                padding-right: var(--col-1);

                &>div h1 {
                    font-family: var(--title-font);
                    color: var(--white-color);
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 60px;


                    & span {
                        vertical-align: super;
                        font-family: var(--regular-font);
                        font-weight: 400;
                        font-size: 28px;
                    }
                }

                &>div p {
                    font-family: var(--bold-font);
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: var(--white-color);
                    margin: 24px 0 16px 0;
                    max-width: 483px;
                }

                &>div span {
                    font-family: var(--regular-font);
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: var(--white-color);
                }

                & button {
                    box-shadow: 0px 4px 0px #D76B30, inset 0px 4px 20px #FFBD86;
                    border-radius: 40px;
                    background: var(--button-color);
                    outline: none;
                    padding: 30px 48px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    font-family: var(--extra-font);
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--white-color);
                    margin-top: 48px;
                }
            }

            &_img {
                width: var(--col-5);

                &>div {
                    margin-right: var(--col-1);
                    animation: HeartBeat .4s infinite alternate;
                    transform-origin: center;
                }
            }

        }
    }
}

/* ======= SECTION №1 - END ======== */

/* ====== POPUP VIDEO PLAYER START ======= */

.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(21, 28, 83, 0.64);
    z-index: 999;

    &__close {
        background: var(--button-color);
        box-shadow: 0px 3px 0px #D76B30, inset 0px 4px 20px #FFBD86;
        border-radius: 40px;
        padding: 16px;
        position: absolute;
        top: 48px;
        right: 48px;
    }
}

.popup-overlay:not(.active) {
    display: none;
}

.video__player {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;

    &_frame {
        max-width: 900px;

        & video {
            width: 100%;
            height: 100%;
            background: rgba(21, 28, 83, 0.24);
            border-radius: 30px;
        }

        &.pause video {
            filter: brightness(0.76);
        }


    }



    &>button {
        padding: 50px;
        background: var(--button-color);
        box-shadow: 0px 4px 0px #D76B30, inset 0px 4px 20px #FFBD86;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.pause {
            opacity: 0;
        }
    }
}

/* ====== POPUP VIDEO PLAYER END ======= */

@keyframes pauseAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes HeartBeat {
    to {
        transform: scale(1.1)
    }

    ;
}


/* ======= SECTION №2 - START ======== */

.information {
    margin: 120px 0;
    display: flex;
    justify-content: space-between;

    &__block {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_item {
            &>h2 {
                font-family: var(--extra-font);
                font-weight: 800;
                font-size: 22px;
                line-height: 30px;
                color: var(--black-color);
                margin-bottom: 16px;
            }

            &>p {
                font-family: var(--regular-font);
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: var(--grey-dark);
                margin-bottom: 32px;

                &>span {
                    vertical-align: super;
                    font-size: 14px;
                }
            }

            &_banner {
                border-radius: 30px;
                background: var(--main-color);
                padding: 32px;

                &>h3 {
                    font-family: var(--extra-font);
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 28px;
                    color: var(--white-color);
                    margin-bottom: 8px;

                    &>span {
                        vertical-align: super;
                        font-size: 14px;
                    }
                }

                &>p {
                    font-family: var(--regular-font);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: var(--white-color);
                    max-width: 325px;
                    width: 100%;

                    &>span {
                        vertical-align: super;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__statistics {
        width: 54%;


        &>div {
            padding: 80px 0 80px 48px;
        }

        &_block {
            &>h3 {
                font-size: 24px;
                color: var(--blue-color);
                font-weight: 800;
                line-height: 30px;
                margin-bottom: 40px;

                &>span {
                    font-size: 12px;
                    vertical-align: super;
                }
            }

            &_item {
                position: relative;

                &>.arca__svg {
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: -10px;
                }

                &>div:not(.arca__svg) {
                    display: flex;
                    margin-bottom: 36px;
                    width: 100%;
                    clip-path: polygon(94% 0%, 98% 50%, 94% 100%, 0% 100%, 0% 0%);
                    background: linear-gradient(270deg, #DFEFF5 0%, rgba(223, 239, 245, 0) 85.25%);
                    position: relative;
                    z-index: 2;

                    &:first-child {
                        margin-left: 30px;
                        width: 96%;
                    }

                    &:nth-child(5) {
                        margin-left: 30px;
                        width: 97%;
                    }

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-left: 90px;
                        width: 86% !important
                    }

                    &:nth-child(5) {
                        margin-bottom: 0;

                        &>.text_arrow>p {
                            font-size: 17px;
                        }

                        &>.text_arrow>p>span {
                            vertical-align: super;
                            font-size: 12px;
                        }
                    }

                    &>.text_arrow {
                        display: flex;
                        height: 80px;
                        align-items: center;
                        width: 80%;
                        margin-left: 25px;

                        &>p {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 28px;
                        }
                    }

                    &>.icon_round {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background: var(--main-color);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        &>div::before {
            content: '';
            position: absolute;
            background: var(--white-color);
            box-shadow: 0px 2px 48px rgba(0, 35, 60, 0.06);
            border-radius: 30px 0px 0px 30px;
            z-index: -1;
            right: 0;
            top: 0;
            width: 54%;
            height: 100%;
        }
    }
}

/* ======= SECTION №2 - END ======== */



/* ======= SECTION №3 - START ======== */

.medication {
    display: flex;
    border-radius: 30px;
    background: var(--medication-color);
    padding: 80px 85px;
    justify-content: space-between;
    margin-bottom: 120px;

    &__images {
        width: 48.65%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__block {
        width: 48.65%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>h4 {
            font-family: var(--play-regular);
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--question-color);
            margin-bottom: 16px;

            &>span {
                vertical-align: super;
                font-size: 14px;
            }
        }

        &_item {

            &_info {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                &:nth-child(3) {
                    margin-bottom: 0;
                }

                &>div {
                    margin-right: 18.5px;
                    width: 9px;

                    &>img {
                        width: 100%;
                    }
                }

                &>p {
                    font-family: var(--raleway-bold);
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 32px;
                    color: var(--question-color);

                    &>span {
                        font-family: var(--raleway-reg);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

/* ======= SECTION №3 - END ======== */

/* ======= SECTION №4 - START ======== */

.question {
    margin-bottom: 125px;

    &>h4 {
        font-family: var(--play-regular);
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--question-color);
        margin-bottom: 40px;
    }

    &__block {
        margin-bottom: 64px;

        &:last-child {
            margin-bottom: 0;
        }

        &_answer {
            &_statusMessage {
                font-family: var(--play-bold);
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: var(--green-color);
                margin-bottom: 10px;
            }

            &_text {
                margin-bottom: 24px;

                &>span {
                    vertical-align: super;
                    font-size: 10px;
                }
            }

            &.answer-error {
                & .question__block_answer_statusMessage {
                    color: var(--error-color) !important;
                }
            }
        }

        &_number {
            font-family: var(--play-bold);
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
            background: var(--number-color);
            width: 176px;
            padding: 8px 32px 8px 16px;
            margin-bottom: 24px;
        }

        &_desc {
            font-family: var(--play-regular);
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 72%;
            margin-bottom: 24px;

            &>span {
                font-size: 14px;
                vertical-align: super;
            }
        }

        &_item {
            width: 72%;

            .block {
                background: var(--medication-color);
                width: 100%;
                height: 80px;
                position: relative;
                margin-bottom: 24px;

                &:hover:before,
                &:hover:after,
                &:hover .border:before,
                &:hover .border:after {
                    border-color: var(--question-color);

                }

                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }

            .border {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                text-align: initial;
                padding: 24px 40px;
                display: flex;
                align-items: center;


                &>p {
                    font-family: var(--raleway-reg);
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: var(--question-color);
                }
            }

            .block:before,
            .block:after,
            .border:before,
            .border:after {
                position: absolute;
                width: 8px;
                height: 8px;
                transition: all .4s;
                content: '';
                border-color: var(--border-color);
                border-style: solid;
            }


            .block:before {
                left: 0px;
                top: 0px;
                border-width: 4px 0 0 4px;
            }

            .block:after {
                right: 0px;
                top: 0px;
                border-width: 4px 4px 0 0;
            }

            .border:before {
                right: 0px;
                bottom: 0px;
                border-width: 0 4px 4px 0;
            }

            .border:after {
                left: 0px;
                bottom: 0px;
                border-width: 0 0 4px 4px;
            }
        }
    }
}

.button-error {
    background: #FDDEE1 !important;

    & p {
        color: var(--error-color) !important;
    }

    &:before,
    &:after,
    .border:before,
    .border:after {
        border-color: var(--error-color) !important;
    }
}

.button-success {
    background: #DDFBE4 !important;

    & p {
        color: var(--green-color) !important;
    }

    &:before,
    &:after,
    .border:before,
    .border:after {
        border-color: var(--green-color) !important;
    }
}



/* ==========MEDIA============= */

@media (max-width: 768px) {

    /* SECTION №1 START */
    .banner {
        &__block {
            &_link {
                &>a>img {
                    width: 170px;
                }
            }

            &_item {

                &_info {

                    &>div {
                        &>h1 {
                            font-size: 28px;
                            line-height: 40px;

                            &>span {
                                font-size: 18px;
                            }
                        }

                        & p,
                        & span {
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }

                    &>button {
                        padding: 25px 28px;
                    }
                }

                &_img {
                    width: var(--col-3);

                    & img {
                        max-width: 100%;
                    }

                    &>div {
                        margin: 0;
                    }
                }
            }
        }
    }

    .video__player {
        &_frame {
            max-width: 660px;
        }

        &>button {
            padding: 30px;
        }
    }

    .popup-overlay {
        &__close {
            padding: 10px;
        }
    }

    /* SECTION №1 END */

    /* ============================== */

    /* SECTION №2 START */

    .information {
        flex-wrap: wrap;

        &__block {
            width: 100%;

            &_item>h2 {
                font-size: 20px;
            }
        }

        &__statistics {
            width: 100%;

            &>div {
                padding: 80px 0 0 0;
            }

            &>div::before {
                display: none;
            }

            &_block {

                &_item {
                    &>.arca__svg {
                        display: none;
                    }

                    &>div:first-child {
                        margin-left: 0 !important;
                        width: 100% !important;
                    }

                    &>div:not(.arca__svg) {

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5) {
                            margin-left: 0;
                            width: 100% !important
                        }
                    }
                }
            }
        }

    }

    .information__block_item_banner>p {
        max-width: 100%;
    }

    /* SECTION №2 END */

    /* SECTION №3 START */

    .medication {
        flex-wrap: wrap;
        justify-content: center;
        padding: 35px 40px;

        &__images {
            width: 75%;
        }

        &__block {
            width: 75%;

            &>h4 {
                text-align: center;
                font-size: 20px;
                line-height: 26px;
            }

            &_item {

                &_info {

                    &>p {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    /* SECTION №3 END */
}


@media (max-width: 431px) {

    /* SECTION №1 START */
    .banner {
        &__block {

            &_item {

                &_info {
                    width: var(--col-12);
                }

                &_img {
                    display: none;
                }
            }
        }
    }

    .video__player {
        &_frame {
            max-width: 390px;
        }

        &>button {
            padding: 15px;
        }
    }

    .popup-overlay {
        &__close {
            padding: 10px;
            top: 140px;
            right: 20px;
            width: 30px;
        }
    }

    .play {
        width: 45px;
        height: 45px;
    }

    .banner__block_item_info>button {
        padding: 10px;
    }

    /* SECTION №1 END */

    /* SECTION №2 START */

    .information {

        &__block {

            &_item {

                &>h2 {
                    font-size: 16px;
                }

                &>p {
                    font-size: 16px;
                }

                &_banner {

                    &>h3 {
                        font-size: 15px;
                        line-height: 22px;
                    }

                    &>p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }

        &__statistics {

            &_block {

                &>h3 {
                    font-size: 20px;
                    line-height: 24px;
                }

                &_item {

                    &>div:not(.arca__svg) {
                        margin-bottom: 25px;
                    }

                    &>div:not(.arca__svg)>.icon_round {
                        width: 60px;
                        height: 60px;

                        &>img {
                            width: 30px;
                        }
                    }

                    &>div:not(.arca__svg)>.text_arrow {
                        height: 60px;

                        &>p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    &>div:not(.arca__svg):nth-child(5)>.text_arrow>p {
                        font-size: 14px;
                        line-height: 15px;

                        &>span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    /* SECTION №2 END */

    /* SECTION №3 START */

    .medication {
        padding: 15px;
        margin-bottom: 90px;

        &__images {
            width: 100%;
        }

        &__block {
            width: 100%;

            &>h4 {
                font-size: 18px;
                line-height: 20px;

                &>span {
                    font-size: 11px;
                }
            }

            &_item {

                &_info {

                    &>p {
                        font-size: 15px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    /* SECTION №3 END */

    /* SECTION №4 START */

    .question {
        margin-bottom: 25px;

        &>h4 {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 25px;
        }

        &__block {
            margin-bottom: 20px;

            &_number {
                font-size: 14px;
                line-height: 18px;
                width: 162px;
                margin-bottom: 18px;
            }

            &_desc {
                font-size: 18px;
                line-height: 24px;
                width: 100%;

                &>span {
                    font-size: 8px;
                }
            }

            &_item {
                width: 100%;

                & .border {
                    padding: 12px 24px;
                    height: 56px !important;
                }

                & .block {

                    & p {
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }

            &_answer {

                &_statusMessage {
                    font-size: 14px;
                    line-height: 16px;
                }

                &_text {
                    line-height: 20px;
                    font-size: 14px;
                }
            }
        }
    }

    .button-success {
        height: 56px !important;
    }

    .button-error {
        height: 56px !important;
    }

    /* SECTION №4 END */
}






@media (max-width: 376px) {

    /* SECTION №1 START */
    .banner {
        &__block {
            padding: 30px 0 100px 0;

            &_link {
                margin-bottom: 20px;
            }

            &_item {

                &_info {

                    &>div {
                        &>h1 {
                            font-size: 20px;
                            line-height: 32px;

                            &>span {
                                font-size: 14px;
                            }
                        }

                        & p,
                        & span {
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }

                    &>button {
                        padding: 10px 8px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    #video-element {
        border-radius: 0;
    }

    /* SECTION №1 END */

    /* SECTION №2 START */

    .information {
        margin: 60px 0;

        &__block {

            &_item {

                &>h2 {
                    font-size: 12px;
                    line-height: 24px;
                }

                &>p {
                    font-size: 12px;
                    line-height: 20px;
                    margin-bottom: 24px;

                    &>span {
                        font-size: 10px;
                    }
                }

                &_banner {
                    padding: 20px;

                    &>h3 {
                        font-size: 12px;
                        line-height: 17px;
                    }

                    &>p {
                        font-size: 11px;
                        line-height: 16px;

                        &>span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        &__statistics {
            &>div {
                padding: 30px 0 0 0;
            }

            &_block {

                &>h3 {
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 25px;

                    &>span {
                        font-size: 9px;
                    }
                }
            }
        }
    }

    .information__statistics_block_item>div:not(.arca__svg):nth-child(5)>.text_arrow>p {
        font-size: 12px;
        line-height: 15px;
    }

    .information__statistics_block_item>div:not(.arca__svg)>.text_arrow>p {
        font-size: 12px;
    }

    /* SECTION №2 END */

    /* SECTION №3 START */

    .medication {
        margin-bottom: 60px;

        &__block {

            &>h4 {
                font-size: 16px;
                line-height: 16px;

                &>span {
                    font-size: 9px;
                }
            }

            &_item {

                &_info {

                    &>p {
                        font-size: 12px;
                        line-height: 18px;
                    }

                    &>div {
                        width: 8px;
                        margin-right: 14px;
                    }
                }
            }
        }
    }

    /* SECTION №3 END */


    /* SECTION №4 START */

    .question__block_item .block p {
        font-size: 14px;
        line-height: 22px;
    }
    
    .question > h4 {
        font-size: 18px;
        line-height: 22px;
    }
    
    .question__block_desc {
        font-size: 15px;
        line-height: 22px;
    }
    
    .question__block_item .block {
        height: 56px!important;
    }
}